<div class="logo">
  <img src="assets/img/logo.png" alt="Seb Club" class="logo-white">
</div>
<h1>Seb's Fight Club</h1>
<ul nz-menu nzTheme="dark" nzMode="horizontal" class="header-menu">
  <li nz-menu-item routerLinkActive="active" class="linkColor">
    <a routerLink="auth/create">Créer un compte</a>
  </li>
  <li nz-menu-item  class="linkColor">
    <a (click)="onSignOut()" style="cursor:pointer" routerLink="auth/login" *ngIf="isAuth">Déconnexion</a>
  </li>
  <li nz-menu-item routerLinkActive="active" *ngIf="!isAuth"  class="linkColor">
    <a routerLink="auth/login">Connexion</a>
  </li>
</ul>
