.header-menu {
  background: #ffffff00;
  align-self: center;
}
h1 {
  align-self: center;
  color: #e85755;
  font-family: "Bauhaus 93", sans-serif;
  font-size: 4rem;
  margin-top: 30px;
  text-shadow: -1px -1px #f00, 1px 1px #a00, -3px 0 4px #000;
  text-transform: uppercase
}

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}

a {
  color: #ffffff;
  text-decoration: underline #ffffff00;
}

a:hover {
  text-decoration: underline #ffffff;
}

.logo {
  align-self: center;
}

.logo-white {
  height: 100px;
}

.linkColor {
  align-content: center;
}
