<nz-layout class="my-layout">
  <nz-header>
    <app-header class="flex-header"></app-header>
  </nz-header>
  <nz-content class="flex-content">
    <router-outlet></router-outlet>
  </nz-content>
  <nz-footer class="flex-footer">
    <app-footer></app-footer>
  </nz-footer>
</nz-layout>
