.flex-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  background: #444444;
  padding: 0 40px;
  box-shadow: 0 6px 16px 0 rgba(0,0,0,.8);
  z-index: 999;
  /*position: fixed;*/
  width: 100vw;
}

nz-header {
  background: #fff;
  padding: 0;
  z-index: 999;
}

.my-layout {
  min-height: 100vh;
}

.flex-footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 90px;
  background: #444444;
  padding: 0 40px;
  z-index: 999;
  width: 100vw;
}

.flex-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: #FFFFFF;
  width: 100vw;
}
