.my-form-style {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
}

.my-title {
  margin-top: 40px;
  text-align: center;
}

.my-image {
  align-items: center;
  justify-content: center;
  background-color: white;
}

h1 {
  align-self: center;
  color: #e85755;
  font-family: "Bauhaus 93", sans-serif;
  font-size: 4rem;
  margin-top: 30px;
  text-shadow: -1px -1px #f00, 1px 1px #a00, -3px 0 4px #000;
  text-transform: uppercase;
}

/*# sourceMappingURL=home.component.css.map */
