<ng-container>
  <ol class="my-rules">
    <li class="textColor">Il est interdit de parler du Seb' Fight Club,</li>
    <li class="textColor">Il est interdit de parler du Seb' Fight Club,</li>
    <li class="textColor">Si tu mets un ".then", vous devez vous battre !</li>
    <li class="textColor">Si t'ouvres pas ta console, vous devez vous battre !</li>
    <li class="textColor">Si c'est votre premier soir au Seb's Fight Club, vous devez vous battre !</li>
  </ol>
</ng-container>
<form ngForm [formGroup]="loginForm" (ngSubmit)="login()" autocomplete="off" class="my-form-style">
  <label class="textColor my-form-style">
    Adresse mail
    <input type="text" formControlName="login" autocomplete="off" class="my-spacing">
  </label>
  <label class="textColor my-form-style">
    Mot de passe
    <input type="password" formControlName="password" autocomplete="off" class="my-spacing">
  </label>
  <button type="submit" class="my-form-style my-button">Envoyer</button>
  <button type="button" (click)="cancel()" class="my-form-style my-button">Cancel</button>
</form>
