.textColor {
  color: #e85755;
  font-weight: 500;
}

.my-form-style {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 20px 40px;
}

.my-rules {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px 40px;
}

.my-spacing {
  margin: 10px 0;
  border-radius: 5px;
  color: #e85755;
}

.my-button {
  background-color: #444444;
  color: #e85755;
  align-items: center;
  border-radius: 5px !important;
}
