.textColor {
  color: #e85755;
  font-weight: 500;
}

.my-page {
  display: flex;
  flex-direction: row;
}

.my-form-style {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 20px 40px;
}

.my-rules {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px 40px;
}

.my-spacing {
  margin: 10px 0;
  border-radius: 5px;
  border: solid #444444 2px;
  color: #e85755;
}

.my-button {
  background-color: #444444;
  color: #e85755;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  border-color: #444444;
}

::ng-deep .vertical-center-modal {
  display: flex;
  align-items: center;
  justify-content: center;
}

::ng-deep .vertical-center-modal .ant-modal {
  top: 0;
}

[nz-form] {
  max-width: 600px;
}

button {
  margin-left: 8px;
}

/*# sourceMappingURL=create.component.css.map */
