<nz-spin nzTip="En cours de chargement..." *ngIf="isLoading">
  <nz-alert nzType="info" nzMessage="Veuillez patienter pendant le chargement"
            nzDescription="Nous créons votre compte, bienvenue au Seb's Fight Club"></nz-alert>
</nz-spin>

<!--<nz-modal
  nzWrapClassName="vertical-center-modal"
  [(nzVisible)]="isVisibleMiddle"
  nzTitle="Vous avez mal rempli le formulaire"
  (click)="handleCancelMiddle()"
  (nzOnOk)="handleOkMiddle()"
>
  <h4>{{message}}</h4>
</nz-modal>-->

<ng-container *ngIf="!isLoading" class="my-page">
  <ng-container>
    <ol class="my-rules">
      <li class="textColor">Il est interdit de parler du Seb' Fight Club,</li>
      <li class="textColor">Il est interdit de parler du Seb' Fight Club,</li>
      <li class="textColor">Si tu mets un ".then", vous devez vous battre !</li>
      <li class="textColor">Si t'ouvres pas ta console, vous devez vous battre !</li>
      <li class="textColor">Si c'est votre premier soir au Seb's Fight Club, vous devez vous battre !</li>
    </ol>
  </ng-container>

  <ng-container class="my-form-style">
    <form ngForm [formGroup]="createForm" (ngSubmit)="createAccount()">
      <nz-form-item>
        <nz-form-label [nzSpan]="7" nzRequired class="textColor my-form-style">Prénom</nz-form-label>
        <nz-form-control [nzSpan]="12" [nzHasFeedback]=errorIcon nzValidatingTip="Validating..."
                         [nzErrorTip]=firstNameErrorTpl>
          <input nz-input type="text" formControlName="firstName" placeholder="joe" class="my-spacing"/>
          <ng-template #firstNameErrorTpl let-control>
            <ng-container *ngIf="isSubmitted">
              <ng-container *ngIf="control.hasError('required')">
                {{errorMessage.required}}
              </ng-container>
              <ng-container *ngIf="control.hasError('firstName')">
                {{errorMessage.firstName}}
              </ng-container>
            </ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="7" nzRequired class="textColor my-form-style">Nom</nz-form-label>
        <nz-form-control [nzHasFeedback]=errorIcon [nzSpan]="12" [nzErrorTip]=lastNameErrorTpl>
          <input nz-input type="text" formControlName="lastName" placeholder="Lachance" class="my-spacing">
          <ng-template #lastNameErrorTpl let-control>
            <ng-container *ngIf="isSubmitted">
              <ng-container *ngIf="control.hasError('required')">
                {{errorMessage.required}}
              </ng-container>
              <ng-container *ngIf="control.hasError('lastName')">
                {{errorMessage.lastName}}
              </ng-container>
            </ng-container>
          </ng-template>
        </nz-form-control>

      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="7" nzRequired class="textColor my-form-style">Date de naissance</nz-form-label>
        <nz-form-control [nzSpan]="12" [nzHasFeedback]=errorIcon [nzErrorTip]=errorMessage.birthdate>
          <input nz-input type="date" formControlName="birthdate" placeholder="03/06/2010" class="my-spacing">
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="7" nzRequired class="textColor my-form-style">E-mail</nz-form-label>
        <nz-form-control [nzSpan]="12" [nzHasFeedback]=errorIcon [nzErrorTip]=emailErrorTpl>
          <input nz-input formControlName="email" placeholder="email" type="email" class="my-spacing"/>
          <ng-template #emailErrorTpl let-control>
            <ng-container *ngIf="isSubmitted">
              <ng-container *ngIf="control.hasError('required')">
                {{errorMessage.required}}
              </ng-container>
              <ng-container *ngIf="control.hasError('email')">
                {{errorMessage.email}}
              </ng-container>
            </ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="7" nzRequired class="textColor my-form-style">Mot de passe</nz-form-label>
        <nz-form-control [nzSpan]="12" [nzHasFeedback]=errorIcon [nzErrorTip]=passwordErrorTpl>
          <input nz-input type="password" formControlName="password" placeholder="Renseignez votre mot de passe"
                 (ngModelChange)="validateConfirmPassword()" class="my-spacing"/>
          <ng-template #passwordErrorTpl let-control>
            <ng-container *ngIf="isSubmitted">
              <ng-container *ngIf="control.hasError('required')">
                {{errorMessage.required}}
              </ng-container>
              <ng-container *ngIf="control.hasError('password')">
                {{errorMessage.password}}
              </ng-container>
            </ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="7" nzRequired class="textColor my-form-style">Confirmez votre mot de passe
        </nz-form-label>
        <nz-form-control [nzSpan]="12" [nzHasFeedback]=errorIcon [nzErrorTip]="confirmErrorTpl">
          <input nz-input type="password" formControlName="confirm" placeholder="Confirmez votre mot de passe"
                 class="my-spacing"/>
          <ng-template #confirmErrorTpl let-control>
            <ng-container *ngIf="isSubmitted">
              <ng-container *ngIf="control.hasError('required')">
                {{errorMessage.required}}
              </ng-container>
              <ng-container *ngIf="control.hasError('confirm')">
                {{errorMessage.confirm}}
              </ng-container>
            </ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <button nz-button nzType="primary" (click)="createTplModal(tplTitle, tplContent, tplFooter)" type="submit"
                class="my-form-style my-button">
          <span>Créer</span>
        </button>
        <ng-template #tplTitle>
          <span>Vous avez un combat à mener !!!</span>
        </ng-template>
        <ng-template #tplContent>
          <p>{{ message }}</p>
        </ng-template>
        <ng-template #tplFooter>
          <button nz-button nzType="primary" (click)="destroyTplModal()" [nzLoading]="tplModalButtonLoading">
            Fermer
          </button>
        </ng-template>
      </nz-form-item>
    </form>

  </ng-container>
</ng-container>
